{% extends 'homebase.html' %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hola, Paciente</h1>
  <p class="lead">Bienvenido al sistema de Administración de la clínica</p>
  <hr class="my-4">
  <p>Puedes acceder a varias funcionalidades una vez hayas iniciado sesión o te hayas registrado.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'patient_signup' %}" role="button">Registrarse</a>
    <a class="btn btn-primary btn-lg" href="{% url 'patient_login' %}" role="button">Iniciar sesión</a>
  </p>
</div>

{% endblock content %}
